<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="favicon.png" type="image/png" sizes="16x16">
        <script src="WebRtcShitBlt.js"></script>
        <title>WebRTC | Daksh</title>
    </head>

    <body>
        <br>

        <div id="main" style="text-align: center;">

            <div class="container" id="container">

                <div class="row no-gutters">
                    <div class="video-wrapper">
                        <div class="row" id="stream1"
                            style="display: flex; align-items: center; justify-content: center;">
                            <div class="col">
                                <video id="local" autoplay muted></video>
                                <div class="video-description">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

















                <div class="row no-gutters">
                    <div class="video-wrapper">
                        <div class="row" id="stream2"
                            style="display: flex; align-items: center; justify-content: center;">

                        </div>
                    </div>
                </div>

                <video id="recorded" playsinline loop></video>

                <div id="gsnoti" style="text-align: center;">
                    <canvas id="output-canvas" class="col" autoplay muted height="240"></canvas>
                    <b>Applied Green Screen</b>
                </div>

            </div>

            <div class="container" style="text-align: center;" id="btns">
                <input type="button" class="btn btn-danger" value="Join Meeting" id="call">
                <input type="button" class="btn btn-danger" value="Receive" id="receive">

                <input type="button" class="btn btn-danger" value="Mute" id="mute">
                <input type="button" class="btn btn-danger" value="Unmute" id="unmute">

                <input type="button" class="btn btn-success" value="Hang Up" id="hangup">

                <input type="button" class="btn btn-danger" value="Video Off" id="vd_off">
                <input type="button" class="btn btn-danger" value="Video On" id="vd_on">
            </div>
            <div id="misc">
                <div class="container" style="text-align: center;" id="btns">

                    <input type="button" class="btn btn-danger" value="Screen Share Off" id="ss_off">
                    <input type="button" class="btn btn-danger" value="Screen Share On" id="ss_on">

                    <input type="button" class="btn btn-danger" value="Green Screen On" id="gs_on">
                    <input type="button" class="btn btn-danger" value="Green Screen Off" id="gs_off">
                </div>
                <div class="container" style="text-align: center;" id="btns">

                    <input type="button" class="btn btn-danger" value="Chat Show" id="chat_on">

                </div>
                <div class="container" style="text-align: center;" id="btns">

                    <button id="record" class="btn btn-danger">Start Recording</button>
                    <button id="play" class="btn btn-danger">Play</button>
                    <button id="download" class="btn btn-danger">Download</button>
                </div>
            </div>

        </div>

        <svg id="info_icon" onmouseover="show()" onmouseout="hide()" width="1em" height="1em" viewBox="0 0 16 16"
            class="bi bi-info-circle-fill" fill="#9e3a55" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>

        <div id="info">

            <span>Room Name:<h1 id="room-name"></h1></span>

            <span>Meeting Members:<u3 id="users"></u3></span>

        </div>

        <div id="chat">

            <div class="chat-container">

                <div class="chat-messages"></div>

                <div class="chat-form-container">
                    <input id="msg" id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                    <input type="submit" value="Send" id="send">
                </div>
                <input type="button" class="btn btn-info" value="Chat Off" id="chat_off">

            </div>
        </div>

        <div id="names">

            <div class="row mt-5">
                <div class="col-md-6 m-auto">
                    <div class="card card-body">
                        <h1 class="text-center mb-3">Enter Meeting Lobby</h1>
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input id="name" class="form-control" placeholder="Enter username" />
                        </div>
                        <div class="form-group">
                            <label for="password">Room name</label>
                            <input id="room" class="form-control" placeholder="Enter Room name" />
                        </div>
                        <button type="button" id="go" class="btn btn-danger">Go</button>
                    </div>
                </div>
            </div>

            <a href="/users/logout" id="logout" class="btn btn-danger">Logout</a>

        </div>

        <script>
            document.getElementById("name").value = "<%= user.name %>"
        </script>

        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="main.js"></script>

    </body>

</html>